table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  float: left;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: lightslategray;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h2 {
  text-align: center;
  padding-bottom: 10px;
}
